# Node modules
node_modules
package-lock.json
yarn.lock

# Build files
build
dist
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AdonisJS specific
tmp
.adonisrc.json
.env.testing

# SQLite database
*.sqlite
*.sqlite3

# Coverage directory
coverage

